@page "/"
@using BlazorUI.Data

<div id="div100">
    <p class="align1">SORIMACHI VIET NAM .</p>
    <button class="align2">Click2</button>
    <button class="align2">Click3</button>
    <button class="align2">Click4</button>
    <button class="align2">Click5</button>
    <button class="align2">Click6</button>
    <button class="align2">Click7</button>
</div>

<fieldset class="p-2" style="width:100%;padding:20px;margin-bottom:5px;">
    <legend class="w-auto" style="color: #5252fc">Border With Text</legend>
    <form class="form-inline">
        <div class="form-group">
            <label>Dropdown1 : &nbsp;</label>
            <select @onchange="@Dropdown1Changed">
                <option value="-1">Select Value 1</option>
                @foreach (var data in dataDropdown1s)
                {
                    <option value="@data.Name">@data.Name</option>
                }
            </select>
            <label>&nbsp; ~&nbsp;</label>
            <input type="text" @bind="@inputValueAddToDropdown1" style="width: 150px; margin:5px" />
            <input type="button" value="Add" @onclick="AddToDropDown1" />
        </div>
        <div class="form-group">
            <label>&nbsp; Dropdown2 : &nbsp;</label>
            <select @onchange="@Dropdown2Changed" disabled="@IsDisabled">
                <option value="-1">Select Value 2</option>
                @foreach (var data in dataDropdown2s)
                {
                    <option value="@data.Id">@data.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">&nbsp; ValueBinding : &nbsp;</label>
            @foreach (var choice in new[] { Choices.Red, Choices.Green, Choices.Blue })
            {
                <label>
                    <input style="margin:10px;"
                           name="yourColor" type="radio"
                           value="@choice"
                           checked="@(currentChoice == choice)"
                           @onchange="@(() => { currentChoice = choice; })">
                    @choice.ToString()
                </label>
            }
        </div>
        &nbsp;
        <button type="submit">Submit</button>
    </form>
</fieldset>
<RadzenTabs Style="height:470px;">
    <Tabs>
        <RadzenTabsItem Text="Tab1 &nbsp; Tab1">
            <RadzenDataGrid Style="height: 420px" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowPaging="false" Data="@dataExamples" TItem="DataExample" ColumnWidth="180px" LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TextAlign="TextAlign.Center" Frozen="true" Width="170px" TItem="DataExample" Property="Id" Title="Id">
                        <Template Context="data">
                            <th>
                                <button class="btn btn-secondary" @onclick="() => DeleteGrid(data)">Delete</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary" @onclick="() => EditGrid(data)">Edit</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary">BT1</button>
                            </th>
                        </Template>
                        <FooterTemplate>
                            <div style="text-align:center" class="border-top-grid">
                                Total
                            </div>
                            <div style="text-align:center" class="border-mid-grid">
                                Total1
                            </div>
                            <div style="text-align:center" class="border-bottom-grid">
                                Total2
                            </div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text1" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="@data.text1"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text2" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="@data.text2"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text3" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="@data.text3"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    @for (int i = 4; i < 20; i++)
                    {
                        string collumnName = $"text{i}";
                        string dataName = $"data.{collumnName}";
                        <RadzenDataGridColumn Width="100px" TextAlign="TextAlign.Center" TItem="DataExample" Title="@collumnName">
                            <Template Context="data">
                                <RadzenLabel Style="float:right" Text="@dataName"></RadzenLabel>
                            </Template>
                            <FooterTemplate>
                                <div class="border-top-grid"></div>
                                <div class="border-mid-grid"></div>
                                <div class="border-bottom-grid"></div>
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                    }
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tab2 &nbsp; Tab2">
            <RadzenDataGrid Style="height: 420px" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowPaging="false" Data="@dataExamples" TItem="DataExample" ColumnWidth="180px" LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TextAlign="TextAlign.Center" Frozen="true" Width="170px" TItem="DataExample" Title="Id">
                        <Template>
                            <th>
                                <button class="btn btn-secondary">BT2</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary">BT2</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary">BT2</button>
                            </th>
                        </Template>
                        <FooterTemplate>
                            <div style="text-align:center" class="border-top-grid">
                                Total
                            </div>
                            <div style="text-align:center" class="border-mid-grid">
                                Total1
                            </div>
                            <div style="text-align:center" class="border-bottom-grid">
                                Total2
                            </div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text1" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="@data.text1"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text2" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="@data.text2"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text3" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="@data.text3"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    @for (int i = 4; i < 20; i++)
                    {
                        string collumnName = $"text{i}";
                        string dataName = $"@data.{collumnName}";
                        <RadzenDataGridColumn Width="100px" TextAlign="TextAlign.Center" TItem="DataExample" Title="@collumnName">
                            <Template Context="data">
                                <RadzenLabel Style="float:right" Text="@dataName"></RadzenLabel>
                            </Template>
                            <FooterTemplate>
                                <div class="border-top-grid"></div>
                                <div class="border-mid-grid"></div>
                                <div class="border-bottom-grid"></div>
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                    }
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tab3 &nbsp; Tab3">
            <RadzenDataGrid Style="height: 420px" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowPaging="false" Data="@dataExamples" TItem="DataExample" ColumnWidth="180px" LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TextAlign="TextAlign.Center" Frozen="true" Width="170px" TItem="DataExample" Title="Id">
                        <Template>
                            <th>
                                <button class="btn btn-secondary">BT3</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary">BT3</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary">BT3</button>
                            </th>
                        </Template>
                        <FooterTemplate>
                            <div style="text-align:center" class="border-top-grid">
                                Total
                            </div>
                            <div style="text-align:center" class="border-mid-grid">
                                Total1
                            </div>
                            <div style="text-align:center" class="border-bottom-grid">
                                Total2
                            </div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text1" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="frozen"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text2" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="frozen"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text3" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="frozen"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    @for (int i = 4; i < 20; i++)
                    {
                        string collumnName = $"text{i}";
                        string dataName = $"data.{collumnName}";
                        <RadzenDataGridColumn Width="100px" TextAlign="TextAlign.Center" TItem="DataExample" Title="@collumnName">
                            <Template Context="data">
                                <RadzenLabel Style="float:right" Text="@dataName"></RadzenLabel>
                            </Template>
                            <FooterTemplate>
                                <div class="border-top-grid"></div>
                                <div class="border-mid-grid"></div>
                                <div class="border-bottom-grid"></div>
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                    }
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Tab4">
            <RadzenDataGrid Style="height: 420px" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowPaging="false" Data="@dataExamples" TItem="DataExample" ColumnWidth="180px" LogicalFilterOperator="LogicalFilterOperator.Or">
                <Columns>
                    <RadzenDataGridColumn TextAlign="TextAlign.Center" Frozen="true" Width="170px" TItem="DataExample" Title="Id">
                        <Template>
                            <th>
                                <button class="btn btn-secondary">BT4</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary">BT4</button>
                            </th>
                            <th>
                                <button class="btn btn-secondary">BT4</button>
                            </th>
                        </Template>
                        <FooterTemplate>
                            <div style="text-align:center" class="border-top-grid">
                                Total
                            </div>
                            <div style="text-align:center" class="border-mid-grid">
                                Total1
                            </div>
                            <div style="text-align:center" class="border-bottom-grid">
                                Total2
                            </div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text1" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="frozen"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text2" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="frozen"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="DataExample" Title="text3" Width="100px" Frozen="true">
                        <Template Context="data">
                            <RadzenLabel Style="text-align: left" Text="frozen"></RadzenLabel>
                        </Template>
                        <FooterTemplate>
                            <div class="border-top-grid"></div>
                            <div class="border-mid-grid"></div>
                            <div class="border-bottom-grid"></div>
                        </FooterTemplate>
                    </RadzenDataGridColumn>
                    @for (int i = 4; i < 20; i++)
                    {
                        string collumnName = $"text{i}";
                        string dataName = $"data.{collumnName}";
                        <RadzenDataGridColumn Width="100px" TextAlign="TextAlign.Center" TItem="DataExample" Title="@collumnName">
                            <Template Context="data">
                                <RadzenLabel Style="float:right" Text="@dataName"></RadzenLabel>
                            </Template>
                            <FooterTemplate>
                                <div class="border-top-grid"></div>
                                <div class="border-mid-grid"></div>
                                <div class="border-bottom-grid"></div>
                            </FooterTemplate>
                        </RadzenDataGridColumn>
                    }
                </Columns>
            </RadzenDataGrid>
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>
@foreach (var choice in new[] { Choices.Red, Choices.Green, Choices.Blue })
{
    <label>
        <input name="yourColor" type="radio"
               value="@choice"
               checked="@(currentChoice == choice)"
               @onchange="@(() => { currentChoice = choice; })">
        @choice.ToString()
    </label>
}

<p>You chose: @currentChoice</p>

@code {


    protected bool IsDisabled1 { get; set; } = false;

    enum Choices { Red, Green, Blue };
    Choices currentChoice = Choices.Red;
}
